<h1>Help</h1>
<p>
  TBA
  <a href="https://www.google.com">Check google. :)</a>.
 TBA
  <a href="https://github.com/dvnDC/Shop_sample/tree/1-create-static-pages"><em>Ruby on Rails Shop</em>on git</a>.
</p>