<div class="mb-5 mb-lg-2 mx-auto text-center" style="max-width: 32rem;">
  <div class="mb-5">
    <h2 class="mb-3 fs-1 fw-bold">
      <span>Welcome to the </span>
      <span class="text-primary">Shopone</span>
    </h2>
    <p class="lead text-muted mb-0">This is the home page for the project.</p>
  </div>
  <div>
    <%= link_to "Check Now", 'https://github.com/dvnDC/shopone', class: "btn btn-primary me-2" %>
    <%= link_to "Documentation", '#', class: "btn btn-outline-primary" %>
  </div>
</div>

